:root{
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
}
/*
- Mobile: 375px
- Desktop: 1440px
- Font size (quote): 28px
*/

html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    font-family: 'Manrope', sans-serif;
    background-color: var(--Dark-Blue);
}
.container{
  background-color: var(--Dark-Grayish-Blue);
  height: 35rem;
  max-height: max-content;
  max-width: 50rem;
  padding: 3.5rem 2rem;
  text-align: center;
  border-radius: 1.5rem;
  margin: 20vh auto 30vh;
  position: relative;
}
.container h1{
  color: var(--Neon-Green);
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
}
.container p{
  color: var(--Light-Cyan);
  font-size: 2.8rem;
  margin: 2rem;
  font-weight: 800;
}
.container .divider{
  margin: 0 auto;
}
.container #pattern-divider-mobile{
  display: none;
}
.container .icon{
  padding: 1.7rem;
  border-radius: 2.7rem;
  background-color: var(--Neon-Green);
  position: absolute;
  top: 32rem;
  left: 22rem;
}
.container .icon:hover{
  cursor: pointer;
  border: 0.1rem ;
  box-shadow: 0 0 1rem 0.3rem var(--Neon-Green);
}

footer .attribution{
    display: flex;
    padding: 5rem 10vw 3rem;
    text-align: center;
    margin: 0 auto;
}
.attribution p{
    font-size: 1.5rem;
    color: white;
}
.attribution a{
    color: var(--Neon-Green);
    text-decoration: none;
    font-size: 1.5rem;
}
@media (max-width:570px) {
  .container #pattern-divider-mobile{
    display: block;
  }
  .container #pattern-divider-desktop{
    display: none;
  }
  .container .icon{
    left: 37vw;
  }
  .container{
    margin: 20vh 5vw 30vh;
  }
}